/* html {
   cursor:none;
} */

html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

.header {
   width: 100%;
   display: flex;
   flex-direction: row;
   background-image: linear-gradient(#121c50a8, black);
   justify-content: space-between;
   align-items: center;
   height: 7vh;
}

.fa_custom {
   color: #d8dedf;
   margin-right: 10px;
}

.footer {
   height: 3vh;
   background-image: linear-gradient(black, #121c50a8);
}


#personalweb a {
   margin-left: 10px;
   color: #d8dedfe3;
   text-decoration: none;
   border: groove;
   font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}

 #p5 {
    width: 100%;
    height: 90vh;
    background-color: rgb(0, 0, 0);
 } 

 #startElements {
    position: absolute;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
 }

 #input {
    border: inset;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border-color: dodgerblue;
      
 }

 #start {
    font-family: system-ui;
    border-radius: 10px;
    border: double;
    width: 70px;
    height: 30px;
    border-color: dodgerblue;
 }

 #online {
   /* background-color: black; */
   border-color: aquamarine;
 }
 #info {
   color: white;
   font-size: 16px;
   font-family: monospace;
   font-weight: 300;
   padding-left: 20px;
   padding-right: 20px;

 }
 #infoContainter{
   display: flex;
   position: absolute;
   width: 100%;
   height: 75vh;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   
 }



 .small{
   width: 6px;
   height: 6px;
   border: 2px solid #fff;
   border-radius: 50%;
 }